
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1472897820'); /* IE9*/
  src: url('iconfont.eot?t=1472897820#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1472897820') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1472897820') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1472897820#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xinshouxuetang:before { content: "\e613"; }
.icon-youhua:before { content: "\e62f"; }
.icon-jiaoseguanli:before { content: "\e600"; }
.icon-shezhi:before { content: "\e601"; }
.icon-xitongguanli:before { content: "\e602"; }
.icon-bangzhu:before { content: "\e603"; }
.icon-baobiao:before { content: "\e612"; }
.icon-zuzhiguanli:before { content: "\e604"; }
.icon-weibiaoti2:before { content: "\e619"; }
.icon-yonghu:before { content: "\e605"; }
.icon-yonghu1:before { content: "\e609"; }
.icon-jin:before { content: "\e61e"; }
.icon-renwuzhongxin:before { content: "\e60a"; }
.icon-xitongshezhi:before { content: "\e61f"; }
.icon-dilifangshi:before { content: "\e630"; }
.icon-shezhitianchong:before { content: "\e606"; }
.icon-youhuiquanwenzi:before { content: "\e607"; }
.icon-rizhi:before { content: "\e608"; }
.icon-xinwenzixun:before { content: "\e62a"; }
.icon-wodegongzuotai:before { content: "\e60b"; }
.icon-consult_setting:before { content: "\e620"; }
.icon-xitongguanli1:before { content: "\e631"; }
.icon-banshizhinan:before { content: "\e62b"; }
.icon-jiaoseguanli1:before { content: "\e621"; }
.icon-iconfontfalvfagui:before { content: "\e62c"; }
.icon-yunshujufuwuzhongxin:before { content: "\e60c"; }
.icon-xuexi:before { content: "\e60d"; }
.icon-pci:before { content: "\e632"; }
.icon-1b:before { content: "\e614"; }
.icon-xinwen:before { content: "\e62d"; }
.icon-navicon12:before { content: "\e622"; }
.icon-xiaoqu:before { content: "\e633"; }
.icon-xitongpeizhi:before { content: "\e60e"; }
.icon-gongzuotai:before { content: "\e615"; }
.icon-hailiangyingxianggongxiangyingyongxitong:before { content: "\e616"; }
.icon-yingxiangtongji:before { content: "\e60f"; }
.icon-fangwu:before { content: "\e61a"; }
.icon-gongzuopingtai:before { content: "\e610"; }
.icon-wodeyuyue:before { content: "\e623"; }
.icon-yewuxuexi:before { content: "\e617"; }
.icon-beian:before { content: "\e611"; }
.icon-4:before { content: "\e62e"; }
.icon-tongyidiaodu:before { content: "\e61b"; }
.icon-renwu:before { content: "\e618"; }
.icon-xitongguanli2:before { content: "\e634"; }
.icon-gerenxinxi:before { content: "\e624"; }
.icon-yonghuguanli:before { content: "\e625"; }
.icon-lishi:before { content: "\e626"; }
.icon-wangluo:before { content: "\e635"; }
.icon-pass:before { content: "\e61c"; }
.icon-shujuguanli11:before { content: "\e636"; }
.icon-gjigui:before { content: "\e61d"; }
.icon-richengjintian:before { content: "\e627"; }
.icon-lishi1:before { content: "\e628"; }
.icon-xitongshezhi1:before { content: "\e629"; }
.icon-erjicaidanruofugaifenxi:before { content: "\e637"; }
.icon-erjicaidanzhongdiefugaifenxi:before { content: "\e638"; }
.icon-zhinengyouhua:before { content: "\e639"; }

